{% extends 'myapp/base.html' %} 
{% block content %}
<div class="container py-3">
    <div class="card bg-info bg-gradient">
        <div class="card-body">
            <h2 class="my-3 text-center text-light">Bus Reservation System</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-5 col-md-7 col-sm-10 col-xs-12">
            <div class="card border rounded-0 shadow">
                <div class="card-header bg-primary text-light">
                    <h3 class="card-title fw-bold mb-0 text-center">Login</h3>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <form action="{% url 'signin' %}" method="post" id="signin-form">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:</label>
                                <input name='name' class="form-control rounded-0" type="text" id="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input name='password' class="form-control rounded-0" type="password" id="password" required>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary rounded-0" form="signin-form">Login</button>
                            </div>
                        </form>
                        <p class="text-danger">{{ error }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
