{% extends 'myapp/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 text-center mt-5">
            <div class="card border-success">
                <div class="card-body">
                    <h1 class="text-success mb-4">Your Account has been created successfully!</h1>
                    <p class="lead">Thank you for joining us. You are now part of our community.</p>
                    <!-- Additional content or instructions can be added here -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
